*{
	margin:0px;
	padding:0px;
}


.canvasBox{

	background-color: black;
	height: 400px;
	width: 400px;
	margin:50px;

}

.cell{
	background-color: white;
	margin:0px;
	border-width: 1px;
	border-color:black;
	border-style: dashed;
	
	display:block;
 	float:left;
}

.row{
	width:500px;
	height:50px;
	
}

.cellBlack{
	background-color: black;
}